
@using Microsoft.AspNetCore.Authentication
@model Test

@{
    ViewData["Title"] = "Secret";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your secret page</h1>
    <p>Access Token: @Model.access_token</p>
    <p>Message: @Model.message</p>
    <p>RAM: </p>
</div>

<a asp-controller="Home" asp-action="Logout">
    <input type="button" value="Logout" />
</a>


<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>