@model IEnumerable<HomeManager.Areas.PcBuilds.Models.RAM>

@{
    ViewData["Title"] = "Index";
}

<h1>RAM</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemorySpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChipsetCompatibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfModules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>s
            <td>
                @Html.DisplayFor(modelItem => item.MemoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemorySpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChipsetCompatibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfModules)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RamId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RamId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RamId })
            </td>
        </tr>
}
    </tbody>
</table>
