@inherits Models.pcbuilder.FanDataModel
@page "/pcbuilder/fans/{action}/{ParamFanId:guid}"
@page "/pcbuilder/fans/{action}"
@using Microsoft.AspNetCore.Authorization
@inject IDialogService Dialog
@inject ISnackbar Snackbar

@attribute [Authorize]

<MudPaper Style="padding: 20px 0 130px 0;">
    <MudContainer Fixed="true">
        <MudGrid Spacing="2">



            @if (Action == "all")
            {
                <MudItem xs="12" Style="text-align: end;">
                    <MudButton StartIcon="@Icons.Material.Add"
                               Variant="Variant.Outlined"
                               Link="/pcbuilder/fans/create"
                               Size="Size.Large"
                               Color="Color.Success">
                        Create New
                    </MudButton>
                </MudItem>
                <MudItem xs="12">
                    @if (fans == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        <MudTable Items="fans" Hover="true" Breakpoint="Breakpoint.Sm" FixedHeader="true" SortLabel="Sort By" @bind-SelectedItem="selected_item" Elevation="25">
                            <ToolBarContent>
                                <MudText Typo="Typo.h6">Fans</MudText>
                                <MudToolBarSpacer />
                                <MudTextField @bind-Value="search_string" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                            </ToolBarContent>
                            <HeaderContent>
                                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Fans, object>(x=>x.fan.Name)">Name</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortBy="new Func<Fans, object>(x=>x.fan.Manufacturer)">Manufacturer</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortBy="new Func<Fans, object>(x=>x.fan.Price)">Price</MudTableSortLabel></MudTh>
                                <MudTh><MudTableSortLabel SortBy="new Func<Fans, object>(x=>x.fan.Link)">Link</MudTableSortLabel></MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Name">
                                    <MudLink Href="@("/pcbuilder/fans/details/" + @selected_item?.FanId)" Color="Color.Dark" Underline="Underline.None">@context.Name</MudLink>
                                </MudTd>
                                <MudTd DataLabel="Manufacturer">@context.Manufacturer</MudTd>
                                <MudTd DataLabel="Price">@context.Price</MudTd>
                                <MudTd DataLabel="Link">
                                    <MudLink Href="@context.Link" Color="Color.Dark" Underline="Underline.None" Target="_blank">@context.Link</MudLink>
                                </MudTd>
                                <MudTd DataLabel="Edit">
                                    <MudLink Href="@("/pcbuilder/fans/edit/" + @selected_item?.FanId)" Color="Color.Info" Underline="Underline.None">Udpate</MudLink>
                                </MudTd>
                                <MudTd DataLabel="Delete">
                                    <MudLink Href="@("/pcbuilder/fans/delete/" + @selected_item?.FanId)" Color="Color.Error" Underline="Underline.None">Delete</MudLink>
                                </MudTd>
                            </RowTemplate>
                            <PagerContent>
                                <MudTablePager />
                            </PagerContent>
                        </MudTable>
                    }
                </MudItem>
            }

            @if (Action == "create" || Action == "edit")
            {
                <MudItem xs="12">
                    <EditForm Model="@fan" OnValidSubmit="CreateFan">
                        <MudGrid Spacing="2">
                            <MudItem xs="12" Style="text-align: end;">
                                <MudButton StartIcon="@Icons.Material.Cancel" Variant="Variant.Outlined" Size="Size.Large" Color="Color.Dark" Link="/pcbuilder/fans/all">Cancel</MudButton>
                                <MudButton EndIcon="@Icons.Material.Send" Variant="Variant.Outlined" Size="Size.Large" Color="Color.Success" ButtonType="ButtonType.Submit">@ButtonName</MudButton>
                            </MudItem>
                            <MudItem xs="12">
                                <MudGrid>
                                    <MudItem xs="12" sm="12" md="12" lg="6" xl="6">
                                        <MudCard Elevation="0">
                                            <div class="row">
                                                <img src="@imgUrl" style="height:500px; width:100%; object-fit: cover;">
                                            </div>
                                        </MudCard>

                                        @if (files != null)
                                        {
                                            <MudText Typo="@Typo.h6">@files.Count() File@(files.Count()>1?"s":""):</MudText>
                                            <MudList>
                                                @foreach (var file in files)
                                                {
                                                    <MudListItem Icon="@Filled.AttachFile" @key="@file">
                                                        @file.Name <code>@file.Size bytes</code>
                                                    </MudListItem>
                                                }
                                            </MudList>
                                        }
                                    </MudItem>
                                    <MudItem xs="12" sm="6" md="12" lg="6" xl="6">
                                        <DataAnnotationsValidator />
                                        <MudCard Elevation="25">
                                            <MudCardContent>
                                                <MudTextField Label="Name" @bind-Value="fan.Name" For="@(() => fan.Name)" />
                                                <MudTextField Label="Manufacturer" @bind-Value="fan.Manufacturer" For="@(() => fan.Manufacturer)" />
                                                <MudTextField Label="Dimensions" @bind-Value="fan.Dimensions" For="@(() => fan.Dimensions)" />
                                                <MudTextField Label="Number Of Fans" @bind-Value="fan.NumberOfFuns" For="@(() => fan.NumberOfFuns)" />
                                                <MudSwitch @bind-Checked="fan.PWMControl" Label="PWM Control" For="@(() => fan.PWMControl)" Color="Color.Primary" />
                                                <MudSwitch @bind-Checked="fan.RGB" Label="RGB" For="@(() => fan.RGB)" Color="Color.Primary" />
                                                <MudTextField Label="Price" @bind-Value="fan.Price" For="@(() => fan.Price)" />
                                                <MudTextField Label="Link" @bind-Value="fan.Link" For="@(() => fan.Link)" />
                                            </MudCardContent>
                                            <MudCardActions>
                                                <BlazorInputFile.InputFile id="fileInput" OnChange="UploadFiles" hidden />
                                                <MudButton HtmlTag="label"
                                                           Variant="Variant.Filled"
                                                           Color="Color.Primary"
                                                           StartIcon="@Filled.Image"
                                                           Size="Size.Large"
                                                           for="fileInput">
                                                    Upload picture
                                                </MudButton>
                                            </MudCardActions>
                                        </MudCard>
                                    </MudItem>
                                </MudGrid>
                            </MudItem>
                        </MudGrid>
                    </EditForm>
                </MudItem>
            }
            else if (Action == "details")
            {
                <MudItem xs="12" Style="text-align: end;">
                    <MudButton StartIcon="@Icons.Material.Cancel" Variant="Variant.Outlined" Size="Size.Large" Color="Color.Dark" Link="/pcbuilder/fans/all">Cancel</MudButton>
                    <MudButton StartIcon="@Icons.Material.Edit" Variant="Variant.Outlined" Size="Size.Large" Color="Color.Success" Link="@("/pcbuilder/fans/edit/" + @selected_item?.FanId)">Update</MudButton>
                    <MudButton StartIcon="@Icons.Material.Delete" Variant="Variant.Outlined" Size="Size.Large" Color="Color.Error" @onclick="DeleteItem">Delete</MudButton>
                </MudItem>
                <MudItem xs="12">
                    <MudGrid>
                        <MudItem xs="12" sm="12" md="12" lg="6" xl="6">
                            <MudCard Elevation="0">
                                <div class="row">
                                    <img src="@imgUrl" style="height:500px; width:100%; object-fit: cover;">
                                </div>
                            </MudCard>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="6" xl="6">
                            <MudSimpleTable Elevation="25">
                                <tbody>
                                    <tr>
                                        <td style="font-weight: bold">Name</td>
                                        <td>@fan.Name</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Manufacturer</td>
                                        <td>@fan.Manufacturer</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Dimensions</td>
                                        <td>@fan.Dimensions</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Number Of Fans</td>
                                        <td>@fan.NumberOfFuns</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">PWM Control</td>
                                        <td>@fan.PWMControl</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">RGB</td>
                                        <td>@fan.RGB</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Price</td>
                                        <td>@fan.Price</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Link</td>
                                        <td>@fan.Link</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            }
            else if (Action == "delete")
            {
                <MudItem xs="12" Style="text-align: end;">
                    <MudButton StartIcon="@Icons.Material.Cancel" Variant="Variant.Outlined" Size="Size.Large" Color="Color.Dark" Link="/pcbuilder/fans/all">Cancel</MudButton>
                    <MudButton StartIcon="@Icons.Material.Delete" Variant="Variant.Outlined" Size="Size.Large" Color="Color.Error" @onclick="DeleteItem">Delete</MudButton>
                </MudItem>
                <MudItem xs="12">
                    <MudGrid>
                        <MudItem xs="12" sm="12" md="12" lg="6" xl="6">
                            <MudCard Elevation="0">
                                <div class="row">
                                    <img src="@imgUrl" style="height:500px; width:100%; object-fit: cover;">
                                </div>
                            </MudCard>
                        </MudItem>
                        <MudItem xs="12" sm="12" md="12" lg="6" xl="6">
                            <MudSimpleTable Elevation="25">
                                <tbody>
                                    <tr>
                                        <td style="font-weight: bold">Name</td>
                                        <td>@fan.Name</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Manufacturer</td>
                                        <td>@fan.Manufacturer</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Dimensions</td>
                                        <td>@fan.Dimensions</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Number Of Fans</td>
                                        <td>@fan.NumberOfFuns</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">PWM Control</td>
                                        <td>@fan.PWMControl</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">RGB</td>
                                        <td>@fan.RGB</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Price</td>
                                        <td>@fan.Price</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold">Link</td>
                                        <td>@fan.Link</td>
                                    </tr>
                                </tbody>
                            </MudSimpleTable>
                        </MudItem>
                    </MudGrid>
                </MudItem>
            }





        </MudGrid>
    </MudContainer>
</MudPaper>


@code {
    private async Task DeleteItem()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", $"Do you really want to delete { fan.Name }? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialog = Dialog.Show<DeleteDialog>("Delete", parameters, options);
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await DeleteFan();
            Snackbar.Add($"Item { fan.Name } was successfully deleted.", Severity.Success);
        }
    }
}